<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${data['Response']} ? ${data['Title']} : 'Details'"></title>
</head>
<body>
    <div>
        <div th:if="${data['Response']}">
            <img th:src="${data['Poster']}" alt="Poster" style="max-width: 400px; max-height: 400px;">
            <h2 th:text="${data['Title']}"></h2>
            <p th:text="'Genre: ' + ${data['Genre']}"></p>
            <p th:text="'Title: ' + ${data['Title']}"></p>
            <p th:text="'Release date: ' + ${data['Released']}"></p>
            <p th:text="'Country: ' + ${data['Country']}"></p>
            <p th:text="'Running time: ' + ${data['Runtime']}"></p>
            <p th:text="'IMDB Rating: ' + ${data['imdbRating']}"></p>
            <p th:text="'Directed by: ' + ${data['Director']}"></p>
            <h3>Plot</h3>
            <p th:text="${data['Plot']}"></p>
        </div>
        <div th:unless="${data['Response']}">
            <p th:text="${data['Error']}"></p>
        </div>
        <a href="/search">
            <button type="button">New search</button>
        </a>
    </div>
</body>
</html>