<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Results</title>
</head>
<body>
    <div>
        <div th:if="${data['Response']}">
            <p th:text="'Movies found: ' + ${data['totalResults']} + ' (displayed first 10)'"></p>
            <a href="/search">
                <button type="button">New search</button>
            </a>
            <p>Results:</p>
            <ol>
                <li th:each="movie : ${data['Search']}">
                    <img th:src="${movie['Poster']}" alt="Poster" style="max-width: 250px; max-height: 250px;">
                    <p th:text="'Title: ' + ${movie['Title']}"></p>
                    <p th:text="'Year: ' + ${movie['Year']}"></p>
                    <p th:text="'Type: ' + ${movie['Type']}"></p>
                    <a th:href="@{'/movie?title=' + ${movie['Title']} + '&amp;type=' + ${movie['Type']} + '&amp;year=' + ${movie['Year']}}">Details...</a>
                    <hr/>
                </li>
            </ol>
        </div>
        <div th:unless="${data['Response']}">
            <p th:text="${data['Error']}"></p>
        </div>
    </div>
</body>
</html>