<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Movies</title>
</head>
<body>
    <form action="#" th:action="@{/submit}" th:object="${request}" method="post" id="searchForm">
        <p>Title:
            <input id="form-title-input" type="text" th:field="*{title}" style="margin-left: 67px;"/>
        </p>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <p>Year (optional):
            <input id="form-year-input" type="number" th:field="*{year}"/>
        </p>
        <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
        <p>Type:
            <select id="form-type-select" th:field="*{type}" style="margin-left: 65px;">
                <option
                    th:each="type : ${T(com.example.moviesearch.model.SubmitFormRequest.Types).values()}" 
                    th:value="${type}"
                    th:text="${type.toString().substring(0, 1).toUpperCase() + type.toString().substring(1)}"
                    th:selected="${type=='movie'}"
                ></option>
            </select>
        </p>
        <p>
            <button id="submit-button" type="submit">Submit</button>
            <a href="/search">
                <button id="reset-button" type="button">Reset</button>
            </a>
        </p>
    </form>
</body>
</html>